.section {
  padding: 48px 0;
}

.inner {
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.titleDecoration {
  position: absolute;
  left: -45px;
  z-index: -1;
}

.titleText {
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font-druk), sans-serif;
}

.reasons {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}

.reason {
  position: relative;
  flex: 1 1 280px;
  aspect-ratio: 1490 / 965;
  border-radius: 32px;
  overflow: hidden;
}

.reasonBg {
  object-fit: cover;
}

.reasonIcon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.reasonContent {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 48px 20px;
  text-align: center;
}

.reasonText {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
}
